<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to Sample App</h1>
    <p>This app is just to demonstrate how to develop using Ruby on Rails</p>
    <%= link_to 'Sign up now!',new_user_path, class: 'btn btn-large btn-primary' %>
</div>
<%= link_to image_tag('dhanesh.jpeg', alt: 'No image found') , '#'%>
