<div class="center hero-unit">

  <div class="row">

    <div class="span6">

      <h1>Welcome to Sample App</h1>

      <p>This app is just to demonstrate how to develop using Ruby on Rails</p>

    </div>


    <div class="span4">

      <p>For new registration,</p>
      <%= link_to 'Sign up now!', new_user_path, class: 'btn btn-large btn-primary btn-block' %>
      <br>

      <% if !signed_in? %>
          <p>Existing user ?</p>
          <%= link_to 'Sign in here', signin_path, class: 'btn btn-large btn-primary btn-block' %>
      <% end %>

    </div>

  </div>

</div>
<%= link_to image_tag('dhanesh.jpeg', alt: 'No image found'), '#' %>
