<% provide(:title,'all users') %>
<h1> looking for someone... </h1>

<div class="center">
  <%= will_paginate @users%>
</div>
<ul class="users">
  <%= render @users %>
</ul>
<div class="center">
  <%= will_paginate @users%>
</div>