<%= provide(:title, @user.name) %>

<div class="row">

  <aside class="span4">
    <section>
      <%= render 'users/user_info' %>
    </section>
  </aside>

  <aside class="span8">
    <%= render 'users/feeds' %>
  </aside>

</div>
